@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-color: #F61500;
  --sidebar-title: #151515;
  --path-color: #99a1af;
  --article-bg: #151515;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --sidebar-title: #151515;
  }
}

:root[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar-title: #f0f0f0;
  --path-color: #000;
  --article-bg: #fff;
}

:root[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --sidebar-title: #151515;
  --path-color: #99a1af;
  --article-bg: #151515;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}